*{
    margin: 0;
    padding: 0;
}


.first{

    width: 100%;
    height: 8vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.first p{

    font-size: 17px;
    font-weight: bold;
}

/* second */

.second{

    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
}

.secondone{

    width: 7%;
    height: 10vh;
    /* background-color: red; */
}

.secondone img{

    width: 80px;
    height: 80px;
    color: white;
}

.secondtwo{

    width: 42%;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    gap: 37px;
    align-items: center;
}
.secondtwo .item1{

font-size: 18px;
color: white;
}

.secondthree{

    width: 20%;
    height: 10vh;
    /* background-color: blue; */
   margin-left: 450px;
   display: flex;
   align-items: center;
}

.b1{

    width: 130px;
    height: 5vh;
    font-size: 15 px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    border: 1px solid rgb(218, 211, 211);
}

/* third */

.third{

width: 100%;
height: 10vh;
background-color: rgb(168, 165, 165);

}

.third h1{

    font-size: 17px;
    font-family: arial;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 36%;
    padding-top: 20px;
}

.third p{

    font-size:15px;
    padding-left: 36%;
}

/* four */

.four{

    width: 100%;
    height: 40vh;
    /* background-color: red; */
}

.four h1{

    font-size: 32px;
    font-family: arial;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    text-align: center;
    padding-top: 50px;
}

.four p{

    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
   
    
}

.fourone{

    width: 40%;
    height: 18vh;
    /* background-color: blue; */
    margin-left: 31%;
}

.four img{

    width: 100px;
    height: 100px;
    border-radius: 50%;
  outline: 2.5px solid rgb(245, 155, 37);
  outline-offset: 4px;
  margin-left: 30px;
  margin-top: 30px;
}

/* five */

.five{

    width: 100%;
    height: 60vh;
    background-image: url(./images/8bbf14d77ba577371147320dfc1c783866cd6a8d.avif);
    background-size: cover;
}

.fiveone{

    width: 560px;
    height: 28vh;
    /* background-color: red; */
    margin-left: 63%;
    padding-top: 280px;
   
   
}

.fiveone h1{

    text-transform: uppercase;
    font-size: 35px;
    font-style: normal;
    font-family: arial;
    color: white;
     padding-left: 60px;
     height: 45px;
   
}

.fiveone p{

    font-size: 23px;
    color: white;
    height: 50px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 260px;
}

.fivetwo{

    width: 230px;
    height: 50px;
    /* background-color: blue; */
    margin-left: 300px;
}

.fiveone .b2{

border: 1px solid white;
width: 100px;
height: 35px;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;

}

/* six */

.six{

    width: 100%;
    height: 60vh;
    
}

.sixone{

    width: 94%;
    height: 60vh;
    /* background-color: red; */
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
   position: absolute;
}

.six1{

    width: 25%;
    height: 55vh;
    /* background-color: blue; */
}

.six1 h1{

    bottom: 60px;
    left: 10px;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
}

.six1 img{

    width: 90%;
   height: 55vh;
}

.six2{

    width: 25%;
    height: 55vh;
    /* background-color: red; */
}

.six2 img{

    width: 90%;
   height: 55vh;
}

.six2 h1{

    bottom: 60px;
    left: 26%;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
}


.six3{

    width: 25%;
   height: 55vh;
    /* background-color: blue; */
}

.six3 img{

    width: 90%;
   height: 55vh;
}

.six3 h1{

    bottom: 60px;
    left: 51%;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
}


.six4{

    width: 25%;
   height: 55vh;
    /* background-color: red; */
}

.six4 img{

    width: 90%;
 height: 55vh;
}

.six4 h1{

    bottom: 70px;
    left: 76%;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
   
}



