*{
    margin: 0;
    padding: 0;
}


.first{

    width: 100%;
    height: 6vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.first p{

    font-size: 17px;
    font-weight: bold;
}

/* second */

.second{

    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    /* position: fixed; */
    
   
}

.secondone{

    width: 7%;
    height: 10vh;
    
    /* background-color: red; */
}

.secondone img{

    width: 80px;
    height: 80px;
    color: white;
}

.secondtwo{

    width: 42%;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    gap: 37px;
    align-items: center;
    
}
.secondtwo .item1{

font-size: 18px;
color: white;
}

.secondthree{

    width: 20%;
    height: 10vh;
    /* background-color: blue; */
   margin-left: 450px;
   display: flex;
   align-items: center;
   gap: 15px;
}

.b1{

    width: 130px;
    height: 5vh;
    font-size: 15 px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    border: 1px solid rgb(218, 211, 211);
}

.secondthree img{

    width: 30px;
    height: 30px;
}

/* third */

.third{

width: 100%;
height: 10vh;
background-color: rgb(168, 165, 165);

}

.third h1{

    font-size: 17px;
    font-family: arial;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 36%;
    padding-top: 20px;
}

.third p{

    font-size:15px;
    padding-left: 36%;
}

/* four */

.four{

    width: 100%;
    height: 40vh;
    /* background-color: red; */
}

.four h1{

    font-size: 32px;
    font-family: arial;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    text-align: center;
    padding-top: 50px;
}

.four p{

    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
   
    
}

.fourone{

    width: 40%;
    height: 18vh;
    /* background-color: blue; */
    margin-left: 31%;
}

.four img{

    width: 100px;
    height: 100px;
    border-radius: 50%;
  outline: 2.5px solid rgb(245, 155, 37);
  outline-offset: 4px;
  margin-left: 30px;
  margin-top: 30px;
}

/* five */

.five{

    width: 100%;
    height: 60vh;
    background-image: url(./images/8bbf14d77ba577371147320dfc1c783866cd6a8d.avif);
    background-size: cover;
}

.fiveone{

    width: 560px;
    height: 28vh;
    /* background-color: red; */
    margin-left: 63%;
    padding-top: 280px;
   
   
}

.fiveone h1{

    text-transform: uppercase;
    font-size: 35px;
    font-style: normal;
    font-family: arial;
    color: white;
     padding-left: 60px;
     height: 45px;
   
}

.fiveone p{

    font-size: 23px;
    color: white;
    height: 50px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 260px;
}

.fivetwo{

    width: 230px;
    height: 50px;
    /* background-color: blue; */
    margin-left: 300px;
}

.fiveone .b2{

border: 1px solid white;
width: 110px;
height: 40px;
text-transform: uppercase;
font-size: 15px;
font-weight: bold;

}

/* six */

.six{

    width: 100%;
    height: 70vh;
    /* background-color: red; */
    
}

.sixone{

    width: 94%;
    height: 60vh;
    /* background-color: red; */
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
   position: absolute;
}

.six1{

    width: 25%;
    height: 55vh;
    /* background-color: blue; */
}

.six1 h1{

    bottom: 60px;
    left: 10px;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
}

.six1 img{

    width: 90%;
   height: 55vh;
}

.six2{

    width: 25%;
    height: 55vh;
    /* background-color: red; */
}

.six2 img{

    width: 90%;
   height: 55vh;
}

.six2 h1{

    bottom: 60px;
    left: 26%;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
}


.six3{

    width: 25%;
   height: 55vh;
    /* background-color: blue; */
}

.six3 img{

    width: 90%;
   height: 55vh;
}

.six3 h1{

    bottom: 60px;
    left: 51%;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
}


.six4{

    width: 25%;
   height: 55vh;
    /* background-color: red; */
}

.six4 img{

    width: 90%;
 height: 55vh;
}

.six4 h1{

    bottom: 70px;
    left: 76%;
    position: absolute;
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 253, 241);
   
}

/* seven */

.seven{

 width: 100%;
    height: 60vh;
    background-image: url(./images/938ab0010031a8b2a8500d3012b40407b4d1e347.avif);
    background-size: cover;
    
}

.sevenone{

 width: 560px;
    height: 28vh;
    /* background-color: red; */
    margin-left: 63%;
    padding-top: 230px;
   
}

.sevenone h1{

    text-transform: uppercase;
    font-size: 35px;
    font-style: normal;
    font-family: arial;
    color: white;
     padding-left: 300px;
     height: 45px;
   
}

.sevenone p{

    font-size: 23px;
    color: white;
    height: 50px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 260px;
}

.seventwo{

    width: 230px;
    height: 50px;
    /* background-color: blue; */
    margin-left: 280px;
    display: flex;
    gap: 10px;
    
}

.seventwo .b3{

border: 1px solid white;
width: 110px;
height: 40px;
text-transform: uppercase;
font-size: 15px;
font-weight: bold;

}


/* eight */


.eight
{
width: 100%;
height: 60vh;
background-image: url(./images/aa2d6a90661bbb8598ba57b13530d894118a27ad.avif);
background-size: cover;
margin-top: 3vh;
}

.eightone{

    width: 560px;
    height: 28vh;
    /* background-color: red; */
    margin-left: 63%;
    padding-top: 210px;
   
}

.eightone h1{

    text-transform: uppercase;
    font-size: 35px;
    font-style: normal;
    font-family: arial;
    color: white;
     padding-left: 190px;
     height: 49px;
}

.eightone p{

     font-size: 23px;
    color: white;
    height: 50px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 100px;
    text-align: center;
}

.eightone .b4{

    border: 1px solid white;
width: 110px;
height: 40px;
text-transform: uppercase;
font-size: 15px;
font-weight: bold;
 margin-left: 260px;
}

/* nine */

.nine{

    width: 100%;
    height: 60vh;
    background-image: url(./images/21d5d69bb3d35fa47fd80d1ef8ac4521eca5550e.avif);
    background-size: cover;
    margin-top: 3vh;
}

.nineone{

    width: 560px;
    height: 28vh;
    /* background-color: red; */
     padding-top: 200px;
}

.nineone h1{

    text-transform: uppercase;
    font-size: 35px;
    font-style: normal;
    font-family: arial;
    color: white;
     padding-left: 60px;
     height: 49px;
     width: 400px;
}

.nineone p{

      font-size: 23px;
    color: white;
    height: 50px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 100;
 padding-left: 90px;
    
}

.nineone .b4{

  border: 1px solid white;
width: 110px;
height: 40px;
text-transform: uppercase;
font-size: 15px;
font-weight: bold;
 margin-left: 170px;
}


/* ten */

.ten{

    width: 100%;
    height: 65vh;
    /* background-color: red; */
}

.tenone{

    width: 100%;
    height: 15vh;
    /* background-color: blue; */
    margin-top: 10vh;
}

.tenone h1{

     text-transform: uppercase;
    font-size: 39px;
    font-style: normal;
    font-family: arial;
    color: black;
    text-align: center;
    height: 59px;
    font-weight: 600;
    
}

.tenone p{


      font-size: 18px;
    color: rgb(90, 88, 88);
    font-family: arial;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
}

.tentwo{

    width: 93%;
    height: 45vh;
    /* background-color: red; */
    display: flex;
   margin-left: 50px;
   position: absolute;

}

.ten1{

    width: 25%;
    height: 45vh;
}

.ten1 img{

    width: 90%;
    height: 45vh;
}

.ten1 h1{

     font-size: 20px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 10px;
}

.ten2{

    width: 25%;
     height: 45vh;
}

.ten2 img{

    width: 90%;
     height: 45vh;
}

.ten2 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 26%;
}

.ten3{

    width: 25%;
     height: 45vh;
}

.ten3 img{

    width: 90%;
     height: 45vh;
}

.ten3 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 51%;
}

.ten4{

    width: 25%;
    height: 45vh;
}

.ten4 img{

    width: 100%;
    height: 45vh;
}

.ten4 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 76%;
}


/* elevan */

.elevan{

    width: 100%;
    height: 60vh;
    /* background-color: red; */
}

.elevanone{

    width: 1005;
    height: 8vh;
    /* background-color: blue; */
    margin-top: 4vh;
    padding-left: 40px;
}

.elevanone h1{


     text-transform: uppercase;
    font-size: 28px;
    font-style: normal;
    font-family: arial;
    color: black;
     font-weight: 600;
}

.elevantwo{

      width: 93%;
    height: 45vh;
    /* background-color: blue; */
    display: flex;
   margin-left: 50px;
   position: absolute;
}

.elevan1{

    width: 25%;
    height: 45vh;
}

.elevan1 img{

     width: 90%;
    height: 45vh;
}

.elevan1 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 10px;
}

.elevan2{

    width: 25%;
    height: 45vh;
}

.elevan2 img{

     width: 90%;
    height: 45vh;
}

.elevan2 h1{

     font-size: 24px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     position: absolute;
    bottom: 10px;
    left: 26%;
}


.elevan3{

    width: 25%;
    height: 45vh;
}

.elevan3 img{

     width: 90%;
    height: 45vh;
}

.elevan3 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 51%;
}


 .elevan4{

    width: 25%;
    height: 45vh;
}

.elevan4 img{

     width: 100%;
    height: 45vh;
}

.elevan4 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     position: absolute;
    bottom: 10px;
    left: 76%;
}


/* twelve */

.twelve{

    width: 100%;
    height: 60vh;
    /* background-color: red; */
}

.twelveone{

    width: 100%;
    height: 8vh;
    /* background-color: blue; */
    margin-top: 4vh;
}

.twelveone h1{

     text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    font-family: arial;
    color: black;
     font-weight: 600;
     padding-left: 30px;
}

.twelvetwo{

     width: 93%;
    height: 45vh;
    /* background-color: blue; */
    display: flex;
   margin-left: 50px;
   position: absolute; 
}

.twelve1{

     width: 20%;
    height: 45vh;
}

.twelve1 img{

    width: 90%;
    height: 45vh;
}

.twelve1 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
     position: absolute;
    bottom: 10px;
    left: 10px;
}

.twelve2{

     width: 20%;
    height: 45vh;
}

.twelve2 img{

    width: 90%;
    height: 45vh;
}

.twelve2 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     position: absolute;
    bottom: 10px;
    left: 21%;
}

.twelve3{

     width: 20%;
    height: 45vh;
}

.twelve3 img{

    width: 90%;
    height: 45vh;
}

.twelve3 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     position: absolute;
    bottom: 10px;
    left: 41%;
}

.twelve4{

     width: 20%;
    height: 45vh;
}

.twelve4 img{

    width: 90%;
    height: 45vh;
}


.twelve4 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     position: absolute;
    bottom: 10px;
    left: 61%;
}
.twelve5{

     width: 20%;
    height: 45vh;
}

.twelve5 img{

    width: 100%;
    height: 45vh;
}

.twelve5 h1{

     font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     position: absolute;
    bottom: 10px;
    left: 81%;
}

/* thirteen */


.thirteen{

    width: 100%;
    height: 70vh;
   
    /* background-color: red; */
}

.thirteenone{

    width: 100%;
    height: 8vh;
    /* background-color: blue; */
    margin-top: 20px;
    

}

.thirteenone h1{

     text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    font-family: arial;
    color: black;
     font-weight: 600;
     padding-left: 30px;

}

.thirteentwo{

    width: 93%;
    height: 50vh;
    /* background-color: red; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    overflow: auto;
    
}

.thirteentwo  img{

    width: 45%;
    height:40vh ;
    
    
}










/* fourteen */

.fourteen{

    width: 100%;
    height: 58vh;
    background-color: rgb(21, 21, 21);
}

.fourteen1{

    width: 93%;
    height: 44vh;
    /* background-color: blue; */
    margin-left: 45px;
    display: flex;
    border-bottom: 0.7px solid rgb(203, 199, 199);

}

.foo1{

    width: 16%;
    height: 40vh;
    /* background-color: red; */
    margin-left: 70px;
    padding-top: 40px;

}

.footer1{

 font-size: 18px;
 text-transform: uppercase;
 color: rgb(255, 255, 255);
 font-weight: 500;
 font-family: arial;
 font-style: normal;
 height: 35px;
}

.foot1{

    font-size: 16px;
    color: rgb(213, 208, 208,0.7);
    height: 30px;
    font-weight: 100;
    font-family: arial;
    font-style: normal;
}

.foo2{

   width: 16%;
    height: 30vh;
    /* background-color: red;  */
    margin-left: 100px;
    margin-top: 90px;
}

.foot2{

   font-size: 16px;
    color: rgb(213, 208, 208,0.7);
    height: 30px;
    font-weight: 100;
    font-family: arial;
    font-style: normal;
}

.foo3{

     width: 16%;
    height: 40vh;
    /* background-color: red; */
     margin-left: 120px;
    padding-top: 40px;
}

.footer2{

    font-size: 18px;
 text-transform: uppercase;
 color: white;
 font-weight: 500;
 font-family: arial;
 font-style: normal;
 height: 35px;
}

.foot3{

    font-size: 16px;
    color: rgb(213, 208, 208,0.7);
    height: 30px;
    font-weight: 100;
    font-family: arial;
    font-style: normal;
}

.foo4{

      width: 21%;
    height: 40vh;
    /* background-color: red; */
     margin-left: 90px;
    padding-top: 40px;
}

.footer3{

 font-size: 17px;
 text-transform: uppercase;
 color: white;
 font-weight: 500;
 font-family: arial;
 font-style: normal;
 height: 45px;
}

.footimg{

    width: 100%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
    gap: 20px;
}

.footimg img{

   width: 35px;
   height: 30px;
   
   /* background-color: white; */

}

.footer4{

   font-size: 17px;
 text-transform: uppercase;
 color: white;
 font-weight: 500;
 font-family: arial;
 font-style: normal;
 height: 45px;
 /* background-color: red;  */
}


.fourteen2 {

    width: 100%;
    height: 14vh;
    display: flex;
    /* background-color: blue; */
}

.last1{

    width: 40%;
    height: 14vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 10px;

}

.last1 img{

    width: 30px;
    height: 20px;
    background-color: white;
}

.last2{

    width: 20%;
    height: 14vh;
    display: flex;
    align-items: center;
   
    /* background-color: red; */
}

.last3{

    width: 150px;
    height: 60px;
     border: 1px solid rgb(175, 172, 172);
     display: flex;
     align-items: center;
     border-radius: 5px;
}

.last2 img{

    width: 80px;
    height: 70px;
    
}

.last2 h1{

    color: white;
    text-transform: uppercase;
    font-family: arial;
    font-size: 18px;

}

.last4{

    width: 20%;
    height: 5vh;
    /* background-color: red; */
   margin-left: 230px;
   margin-top: 40px;
   
}

.last4 p{

   color: rgb(191, 189, 189);
   font-size: 14px;
  
  
}

.p1{
    width: 140px;
    height: 20px;
 font-size: 14px;
    margin-left: 140px;
    border-bottom: 1px solid white;
}